PCB/HermesFC/fp-info-cache
PCB/HermesFC/HermesFC-backups
PCB/HermesFC/~HermesFC.kicad_pcb.lck
PCB/HermesFC/_autosave-STM32.kicad_sch
PCB/HermesFC/#auto_saved_files#
PCB/HermesFC/~HermesFC.kicad_sch.lck
PCB/HermesFC/fabrication-toolkit-options.json
